<h1>PRISME Job Queue</h1>
<button id="btn-update" class="btn btn-primary btn-lg">Refresh List</button>
<br>
<hr>
<table id="data-table" class="prisme-table table-striped table-hover">
  <thead>
  <tr>
    <th>Job ID</th>
    <th>Job Name</th>
    <th>Status</th>
    <th>Scheduled At</th>
    <th>Enqueued At</th>
    <th>Started At</th>
    <th>Completed At</th>
    <th>Elapsed Time</th>
    <th>User</th>
    <th>Last Error</th>
    <th>Result</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="11" style="text-align:center">There are no items to list...</td>
  </tr>
  </tbody>
</table>
<br/>

<script>
  $(document).ready(function (e) {
    var fields = ['job_id', 'job_name', 'status', 'scheduled_at', 'enqueued_at', 'started_at', 'completed_at', 'elapsed_time', 'user', 'last_error', 'result'];

    function loadTable(tableId, fields, data) {
      $('#' + tableId + ' tbody').empty();

      $.each(data, function (index, item) {
        var row = $('<tr>');
        $.each(fields, function (index, field) {
          if (field === 'status') {
            row.append($('<td>').text(gon.job_status_constants[item[field + '']]));
          }
          else {
            row.append($('<td>').text(item[field + '']));
          }
        });
        $('#' + tableId + ' tbody').append(row);
      });
    }

    $('#btn-update').click(function (e) {
      reload();
    });

    function reload() {
      $.ajax({
        url: gon.routes.prisme_job_queue_reload_job_queue_list_path,
        type: "GET",
        dataType: "json",
        success: function (data) {
          loadTable('data-table', fields, data);
        }
      })
    }
/*

    function poll() {
      $.ajax({
        url: '/prisme_job_queue/reload_job_queue_list',
        type: "GET",
        success: function (data) {
          loadTable('data-table', fields, data);
        },
        dataType: "json",
        complete: setTimeout(function () {
          poll()
        }, 3000),
        timeout: 2000
      })
    }

 poll();
*/
    reload();
  });
</script>
