<h1>PRISME Job Queue</h1>
<style>
  html, body {
    padding: 5px;
  }

  #data-table {
    font-family: calibri, arial;
    width: 100%;
  }

  #data-table thead td {
    background-color: #8CCCF1;
    font-weight: bold;
  }

  #data-table td {
    border: 1px solid #466E85;
    width: 136px;
    padding: 7px;
  }
</style>

<table id="data-table">
  <thead>
  <tr>
    <td>Job ID</td>
    <td>Job Name</td>
    <td>Status</td>
    <td>Scheduled At</td>
    <td>Enqueued At</td>
    <td>Started At</td>
    <td>Completed At</td>
    <td>Elapsed Time</td>
    <td>User</td>
    <td>Last Error</td>
    <td>Result</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="9" style="text-align:center">There are no items to list...</td>
  </tr>
  </tbody>
</table>
<br/>

<button id="btn-update">Update List</button>
<button id="btn-test">Test Job</button>

<script>
  $(document).ready(function (e) {
    function loadTable(tableId, fields, data) {
      //$('#' + tableId).empty(); //not really necessary
      var rows = '';
      $.each(data, function (index, item) {
        var row = '<tr>';
        $.each(fields, function (index, field) {
          if (field === 'status') {
            row += '<td>' + gon.job_status_constants[item[field + '']] + '</td>';
          }
          else {
            row += '<td>' + item[field + ''] + '</td>';
          }
        });
        rows += row + '<tr>';
      });
      $('#' + tableId + ' tbody').html(rows);
    }

    var fields = ['job_id', 'job_name', 'status', 'scheduled_at', 'enqueued_at', 'started_at', 'completed_at', 'elapsed_time', 'user', 'last_error', 'result'];

    $('#btn-test').click(function (e) {
      $.ajax({
        url: gon.routes.prisme_job_queue_reload_job_queue_list_path,
        type: "GET",
        data: {add_test_job: true},
        dataType: "json",
        success: function (data) {
          loadTable('data-table', fields, data);
        }
      })
    });

    $('#btn-update').click(function (e) {
      reload();
    });

    function reload() {
      $.ajax({
        url: gon.routes.prisme_job_queue_reload_job_queue_list_path,
        type: "GET",
        dataType: "json",
        success: function (data) {
          loadTable('data-table', fields, data);
        }
      })
    }
/*

    function poll() {
      $.ajax({
        url: '/prisme_job_queue/reload_job_queue_list',
        type: "GET",
        success: function (data) {
          loadTable('data-table', fields, data);
        },
        dataType: "json",
        complete: setTimeout(function () {
          poll()
        }, 3000),
        timeout: 2000
      })
    }

 poll();
*/
    reload();
  });
</script>
