<h1>Provision a New Service</h1>
<%= render 'form', mode: (local_assigns[:failure].nil? ? 'new' : 'failure') %>
<div id="new_cancel">
  <hr>
  <%= button_to 'Cancel', services_path, class: 'btn btn-primary btn-lg', method: 'get' %>
</div>
