<style>
    ol.configure li {
        text-align: left;
    }
</style>
<div class="error_dialog">
    <div>
        <h1>PRISME must be configured!</h1>
        <p>A PRISME administrator must configure the following:</p>
        <ol class="configure">
            <li>The Nexus artifactory</li>
            <li>The Jenkins build server</li>
            <li>The GIT server</li>
            <li>At least one Tomcat instance</li>
        </ol>
    </div>
</div>
