<div class="error_dialog">
  <div>
    <h1>The TerminologyConfig file did not validate against the XSD! Is there a file mismatch?</h1>
    <p>Contact a prisme admin immediately.</p>
    <p>Errors are:<br>
      <%= error_str %><br><br>
    </p>
  </div>
</div>
