<div id="checksum_results_div" class="animated">
  <%= render 'layouts/page_title_bar', locals: {title: 'Checksum Summary/Results',
                                                actions: ['<button type="button" class="btn btn-info btn-sm btn-back_to_selection">Back</button>',
                                                          '<button type="button" class="btn btn-info btn-sm btn-compare-checksum">Compare Checksum</button>',]} %>
  <div id="checksum_results"></div>
</div>

<script>
    $(document).ready(function () {
        // wire the back button to swap the panels
        $('.btn-back_to_selection').on("click", function () {
            change_tabs('selections');
        });
    });
</script>
