<% rows.each do |row| %>
  <tr id="<%= "#{row[:site_id]}|#{row[:subset_id]}|#{row[:subset_text]}" %>" style="background-color: <%= row[:striped] % 2 == 0 ? 'transparent' : '#f2f2f2;' %>">
    <td><%= "#{row[:site_id]} - #{row[:site_name]}" %></td>
    <td><%= row[:subset_text] %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>View Hashes</td>
    <td>Request Data</td>
  </tr>
<% end %>
