<div id="tabs" style="border: none; padding-bottom: 40px">
  <ul style="display: none">
    <li><a href='#tp-selections'>selections</a></li>
    <li><a href='#tp-checksum'>checksum</a></li>
    <li><a href='#tp-discovery'>discovery</a></li>
  </ul>
  <div id="tp-selections">
    <%= render 'checksum_discovery_selections' %>
  </div>
  <div id="tp-checksum">
    <%= render 'checksum_results' %>
  </div>
  <div id="tp-discovery">
    <%= render 'discovery_results' %>
  </div>
</div>
<script>
    var tabpages = {'selections' : 0, 'checksum' : 1, 'discovery' : 2};

    function change_tabs(newtab) {
        $( "#tabs" ).tabs( "option", "active", tabpages[newtab] );
    }

    $(document).ready(function () {
        $("#tabs").tabs();
    });
</script>
