<div style='background-color: transparent; height: 50px; padding: 5px;'>
  <div style='float: left; color: black; font-weight: bold; font-size: 18px; padding-left: 5px' onclick="toggleResultTable(this);">
    <i class="fa fa-minus-square" aria-hidden="true"></i>
    <%= row.domain %>
  </div>
</div>
