<div id="<%= tp_action.downcase %>_results_div">
  <%= render 'layouts/page_title_bar', locals: {title: "#{tp_action.capitalize} Summary/Results",
                                                actions: ['<button type="button" class="btn-for-508 btn-sm btn-back_to_selection">Back</button>',
                                                ]} %>
  <div id="<%= tp_action %>_results"></div>
</div>
