<div id="discovery_results_div">
  <%= render 'layouts/page_title_bar', locals: {title: 'Discovery Summary/Results',
                                                actions: ['<button type="button" class="btn btn-info btn-sm btn-back_to_selection">Back</button>',
                                                          '<button type="button" class="btn btn-info btn-sm btn-compare-hl7_messaging">?????</button>',]} %>
  <div id="discovery_results"></div>
</div>
