<table class="prisme-table table-hover" id="tbl_discovery_diffs">
  <thead>
  <tr>
    <th scope="col" width="120px">VUID</th>
    <th scope="col" width="200px">Designation</th>
    <th scope="col" width="200px">Field Name</th>
    <th scope="col">VistA</th>
    <th scope="col">ISAAC</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
