<table class="prisme-table table-hover table-striped" id="<%= locals[:table_id]%>">
  <thead>
  <tr>
    <th scope="col" width="150px">VUID</th>
    <th scope="col" width="200px">Designation</th>
    <th scope="col" width="150px">Allergy Type</th>
    <th scope="col">Has Drug Class</th>
    <th scope="col" width="50%">Has Drug Ingredient</th>
    <th scope="col">Search Term</th>
    <th scope="col">VistA Mapping Target</th>
    <th scope="col" width="50px">Status</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
