<div id="discovery_results_div">
  <%= render 'layouts/page_title_bar', locals: {title: 'Discovery Summary/Results - remove me',
                                                actions: ['<button type="button" class="btn btn-info btn-sm btn-back_to_selection">Back</button>',
                                                         ]} %>
  <div id="discovery_results"></div>
</div>
