<div id="tabs" style="border: none; padding-bottom: 40px">
  <ul style="display: none">
    <li><a href='#tp-selections'>selections</a></li>
    <li><a href='#tp-checksum'>checksum</a></li>
    <li><a href='#tp-discovery'>discovery</a></li>
  </ul>
  <div id="tp-selections">
    <%= render 'checksum_discovery_selections' %>
  </div>
  <div id="tp-checksum">
    <%= render partial: 'checksum_discovery_results', locals: {tp_action: 'checksum'} %>
  </div>
  <div id="tp-discovery">
    <%= render partial: 'checksum_discovery_results', locals: {tp_action: 'discovery'} %>
  </div>
</div>

<!--modal for discovery differences-->
<div id="discoveryDiffsModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" style="width: 90%">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <span style="font-size: large; font-weight: bold; color: navy">Discovery Differences</span>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div id="diffs_site_subset_header" style="padding-bottom: 5px">
          <span id="site_hdr" style="font-size: large; font-weight: bold"></span>&nbsp;&nbsp;-&nbsp;&nbsp;<span id="subset_hdr" style="font-size: medium; font-weight: bold"></span>
        </div>
        <div id="discovery_diff_tabs">
          <ul>
            <li><a href='#tp-diffs'>Discovery Diffs</a></li>
            <li><a href='#tp-vista_only'>VistA Only</a></li>
            <li><a href='#tp-isaac_only'>ISAAC Only</a></li>
          </ul>
          <div id="tp-diffs" class="scrollable_div">
            <div id="ag-grid_diffs" style="height: 400px;" class="ag-fresh"></div><!-- set the height of the div dynamically?!-->
          </div>
          <div id="tp-vista_only" class="scrollable_div">
            <div id="ag-grid_vista_only" style="height: 400px;" class="ag-fresh"></div><!-- set the height of the div dynamically?!-->
          </div>
          <div id="tp-isaac_only" class="scrollable_div">
            <div id="ag-grid_isaac_only" style="height: 400px;" class="ag-fresh"></div><!-- set the height of the div dynamically?!-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    var tabpages = {'selections' : 0, 'checksum' : 1, 'discovery' : 2};

    function change_tabs(newtab) {
        $( "#tabs" ).tabs( "option", "active", tabpages[newtab] );
    }

    $(document).ready(function () {
        $("#tabs").tabs();
        $("#discovery_diff_tabs").tabs();

        // wire the back button to swap the panels
        $('.btn-back_to_selection').on("click", function () {
            change_tabs('selections');
        });
    });
</script>
