<div id="tabs" style="border: none; padding-bottom: 40px">
  <ul style="display: none">
    <li><a href='#tp-selections'>selections</a></li>
    <li><a href='#tp-checksum'>checksum</a></li>
    <li><a href='#tp-discovery'>discovery</a></li>
  </ul>
  <div id="tp-selections">
    <%= render 'checksum_discovery_selections' %>
  </div>
  <div id="tp-checksum">
    <%= render partial: 'checksum_discovery_results', locals: {tp_action: 'checksum'} %>
  </div>
  <div id="tp-discovery">
    <%= render partial: 'checksum_discovery_results', locals: {tp_action: 'discovery'} %>
  </div>
</div>
<script>
    var tabpages = {'selections' : 0, 'checksum' : 1, 'discovery' : 2};

    function change_tabs(newtab) {
        $( "#tabs" ).tabs( "option", "active", tabpages[newtab] );
    }

    $(document).ready(function () {
        $("#tabs").tabs();

        // wire the back button to swap the panels
        $('.btn-back_to_selection').on("click", function () {
            change_tabs('selections');
        });
    });
</script>
