<h2>Application Deployments</h2>
<% @deployments.each do |deployment| %>
    <%= render partial: 'app_deployment_table', locals: {deployment: deployment} %>
<% end %>
<script>
  $(function () {
    $('td[data-href]').on("click", function () {
      window.open($(this).data('href'));
    });
  });

</script>
<%= javascript_tag do %>
    <%= raw show_flash_notify %>
<% end %>
