<h2>Application Deployments</h2>
<div id="flash_state"><%= @flash_state if @flash_state %></div>
<hr>
<style>
  html, body {
    padding: 5px;
  }

  .data-table {
    font-family: calibri, arial;
    width: 100%;
  }

  tr:hover {
    cursor: pointer
  }

  .data-table thead td {
    background-color: #8CCCF1;
    font-weight: bold;
  }

  .data-table td {
    border: 1px solid #466E85;
    width: 136px;
    padding: 7px;
  }

  #flash_state {
    color: green;
    font-weight: bold;
  }
</style>
<br>

<% @deployments.each do |deployment| %>
    <%= render partial: 'app_deployment_table', locals: {deployment: deployment} %>
<% end %>
<script>
  $(document).ready(function () {
    $('tr[data-href]').on("click", function () {
      window.open($(this).data('href'));
    });

    $('#flash_state').fadeOut(7500);
  });
</script>
