<style>
  #tabs-nohdr {
    padding: 0px;
    background: none;
    border-width: 0px;
  }
  #tabs-nohdr .ui-tabs-nav {
    padding-left: 0px;
    background: transparent;
    border-width: 0px 0px 1px 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
  #tabs-nohdr .ui-tabs-panel {
    background: #dcedf5;
    border-width: 0px 1px 1px 1px;
  }
</style>

<!--tabs-->
<div id="tabs">
  <ul>
    <li><a href='#tp-deployments'>Deployments</a></li>
    <li><a href='#tp-job_queue'>Job Queue</a></li>
  </ul>
  <div id="tp-deployments">
    <%= render partial: 'deployments' %>
  </div>
  <div id="tp-job_queue">
    <%= render partial: 'job_queue' %>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#tabs").tabs();
    <% if session[:select_tabpage] %>
      $("#tabs").tabs("option", "active", <%= session[:select_tabpage] %>);
      <% session.delete(:select_tabpage) %>
    <% end %>
  });
</script>
