<p id="notice"><%= notice %></p>

<p>
  <strong>Db description:</strong>
  <%= @terminology_source.user %>
</p>

<%= link_to 'Edit', edit_terminology_source_content_path(@terminology_source) %> |
<%= link_to 'Back', terminology_source_contents_path %>
