/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require jquery.smartWizard/smart_wizard
 *= require jquery.steps-1.1.0/jquery.steps
 *= require ag-grid
 *= require jquery-ui
 * this is for styling of the ajax_flash notification code
 *= require animate
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html, body {
  padding: 5px;
}

.prisme-table tr:hover {
  cursor: pointer;
}

.prisme-table {
  font-family: calibri, arial;
  width: 100%;
}

.prisme-table thead th {
  background-color: #8CCCF1;
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
  border: 1px solid #466E85;
  padding: 10px;
}

.prisme-table td {
  border: 1px solid #466E85;
  padding: 7px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

/* line 125, C:/work/ETS/gem_home/gems/bootstrap-sass-3.3.6/assets/stylesheets/bootstrap/_tables.scss */
.table-hover > tbody > tr:hover {
  background-color: #dde7f5;
}
