table {
  border-width: thin;
  border: solid;
}

th {
  text-align: center;
  background-color: cornsilk;
  color: navy;
  border: solid;
  border-width: thin;
  padding: 5px;
}

td {
  padding: 2px;
}
