<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">PRISME</a>
  </div>
  <div>
    <ul class="nav navbar-nav">
      <li><a href="<%= root_path%>" ><span class="glyphicon glyphicon-home"> Home</span></a></li>
      <li><a href="<%= terminology_converter_path%>">Terminology Converter</a></li>
      <li><a href="<%= app_deployer_path%>">App Deployer</a></li>
      <li><a href="#">DB Builder</a></li>
    </ul>
  </div>
</nav>
