<div class="page_title_bar">
  <div class="title"><%= locals[:title] %></div>
  <% if locals[:actions] %>
      <% if locals[:actions].is_a?(Array) %>
          <div class="actions">
            <% locals[:actions].each do |action_html| %>
                <%= raw action_html %>
            <% end %>
          </div>
      <% else %>
          make the actions an array!!
      <% end %>
  <% end %>
</div>
<br>
